nav {

  padding: 2% 3%;

  &#mainNav {
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #fff;
    transition: 0.6s ease;

    &.scrolling {
      @include boxShadow();
      background-color: #f4f4f4;
    }
  }

  #burger {
    width: 30px;
    display: block;
    cursor: pointer;

    div {
      height: 3px;
      background-color: #000;
      margin: 3px;
    }

    @include media (desktop) {
      display: none;
    }
  }

  #resa {
    display: block;
    text-align: center;
    width: 15%;
    height: 40%;

    @include media(phone) {
      width: 25%;
    }
  }

}

